<main>
  <div class="heading">
    <h1>Ranker App</h1>
    <form (submit)="onColumnSubmit()">
      <input
        type="text"
        name="columnName"
        [(ngModel)]="columnName"
        placeholder="Add new column"
      />
    </form>
    <button (click)="onResetClick()">Reset</button>
  </div>
  <div class="rows">
    @for (row of rows(); track row.label) { @if (columnDrag()) {
    <div
      class="drop-area"
      [ngClass]="{ hovered: hoveredDropzone() === $index }"
      (dragover)="onDragOver($event)"
      (dragenter)="onDragEnter($event, $index)"
      (drop)="onDrop($event, $index)"
    ></div>
    }
    <app-row
      @fade
      [row]="row"
      [columnIndex]="$index"
      [hovered]="hoveredColumn() === row.label"
      (objectMoved)="onObjectMoved($event)"
      (objectRemoved)="onObjectRemoved($event)"
      (columnHovered)="onColumnHover($event)"
      (columnRemoved)="onColumnRemoved($event)"
      (columnMoveToggle)="toggleColumnDropzone($event)"
    />
    }
  </div>
</main>
